<ul class=" w-100">
  <li *ngFor="let node of nodes" class="tree-item">
    <div class="d-flex justify-content-between align-items-center m-2" (click)="toggleNode(node)"
      style="cursor: pointer;">
      <div class="d-flex align-items-center">
        <!-- Mostrar flecha dependiendo si está expandido o no -->
        <span *ngIf="node?.children && node.children">
          <i class="me-3" [class]="node.expanded ? 'bi bi-caret-down-fill' : 'bi bi-caret-right-fill'"></i>
        </span>
        <!-- Mostrar nombre del nodo -->
        <span class="tree-item-name">{{ node.name }}</span>
      </div>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-outline-danger btn-sm">
          <i class="bi bi-trash-fill"></i>
        </button>
        <button type="button" class="btn btn-outline-info btn-sm">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
    </div>
    <!-- Mostrar los hijos solo si el nodo está expandido -->
    <app-tree-view *ngIf="node.expanded && node.children" [nodes]="node.children" class="mt-2"></app-tree-view>
  </li>
</ul>