<ul class="w-100">
  <li *ngFor="let node of nodes">
    <div class="d-flex justify-content-between align-items-center m-2" (click)="toggleNode(node)"
      [class]="node.expanded  && node.children.length != 0? 'father-filling' : ''" style="cursor: pointer;">
      <div class="d-flex align-items-center">
        <!-- Mostrar flecha dependiendo si está expandido o no -->
        <span *ngIf="node.children.length != 0">
          <i class="me-2" [class]="node.expanded ? 'bi bi-caret-down-fill' : 'bi bi-caret-right-fill'"></i>
        </span>
        <!-- Mostrar nombre del nodo -->
        <span class="tree-item-name"> {{node.id+' - '+ node.name | uppercase }}</span>
        <span *ngIf="node.children.length != 0" class="fs-2 fw-bold ms-4">( {{ node.children.length }} )</span>
      </div>
      <div class="d-flex gap-2">
        <button type="button" (click)="editEvent(node)" class="btn btn-outline-info btn-sm">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button type="button" (click)="deleteEvent(node)" class="btn btn-outline-danger btn-sm">
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>
    </div>
    <!-- Mostrar los hijos solo si el nodo está expandido -->
    <app-tree-view (delete)="deleteEvent($event)" (edit)="editEvent($event)" *ngIf="node.expanded && node.children"
      [nodes]="node.children" [displayed]="displayed" class="mt-2 "></app-tree-view>
  </li>
</ul>