<!-- !SIN TERMINAR -->
<app-menu-general [access]="access" [view_buttons]="viewButtons" (search)="getAttributeProductsList()"
  (goToCreate)="refreshModel()" (guardar)="saveModelProduct()" (descartar)="discardForm()" [extraButtons]="extraButtons"
  (extraButtonEvent)="$event.action()"></app-menu-general>

<!-- TABLAS DE PLANTILLAS -->
<app-dynamic-table #table_products_attributes titleModal="Modelos de productos" (selectItem)="selectItem($event)"
  [columns]="columns_attributes" [records]="products_attributes_list"></app-dynamic-table>

<!-- FORMUARIO DE PLANTULLA -->
<section class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Modelo de producto" description="Atributos personalizados para productos">
    <h4 correlative_number class=" fs-6 fw-normal mt-3 mb-2">#{{product_model.id|sequence:1 }}</h4>
  </app-header-form>

  <section class="main-contend-form">
    <div class="row">
      <div class="col-6">
        <app-input-forms [disabled]="disabled" [(ngModel)]="product_model.name" typeInput="text"
          labelInput="Nombre modelo" tooltip="Nombre asociado a un ente Ejemplo: 'Ropa'"></app-input-forms>
      </div>
      <div class="col-4 ">
        <app-input-forms [disabled]="disabled" [(ngModel)]="product_model.status_id" typeInput="checkbox"
          labelInput="Activo" [tooltip]="'Modelo activa o inactiva '" [loading]="loading"></app-input-forms>
      </div>

    </div>
  </section>
</section>

<!-- FORMULARIO DE PRODUCTOS -->
<section class="main-contend-card">

  <!-- MODAL PARA EDITAR O AGREGAR PROPIEDADES -->
  <app-dynamic-modal title="Crear atributos" #dynamic_modal (acceptBtn)="saveProprieties()" [btnClose]="true">
    <!-- <app-properties-products-form modal-body [proprieties]="properties"></app-properties-products-form> -->

    <div modal-body class="row">
      <div *ngFor="let atributo of product_model.properties" class="col">
        <app-input-forms [disabled]="false" [typeInput]="atributo.type_input" [labelInput]="atributo.name_attributes"
          [tooltip]="atributo.description" [resources]="atributo.data? atributo.data : [] "></app-input-forms>
      </div>
    </div>
  </app-dynamic-modal>

  <section class="main-contend-form">
    <app-dynamic-table (btnAdd)="openFormProperties()" (selectItem)="selectAttributes($event)"
      [disabledBtnAdd]="disabled" type_table="table" [viewBtnAdd]="true" [columns]="columns"
      [records]="product_model.properties"></app-dynamic-table>
  </section>

</section>

<app-loading [loading]="loading"></app-loading>