<!-- todo se debe aplicar la clase sticky-top cuando se detecte que scrolleo -->
<div class="card shadow rounded ">
  <div class="d-flex flex justify-content-start align-items-center gap-2 m-2">
    <!--   [tooltip]="'Nuevo Registro'"  -->
    <div *ngIf="view_buttons.go_to_create">
      <button tooltip="Nuevo Registro" (click)=" this.goToCreate.emit()" [ngClass]="access.create? '':'disabled'"
        type="button" class="btn-custom text-primary  touch ">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>

    <div *ngIf="view_buttons.create ">
      <button [tooltip]="view_buttons.create_label" (click)="guardar.emit()" [ngClass]="access.create? '':'disabled'"
        type="button" class="btn-custom  text-primary  touch ">
        <i class="bi bi-cloud-upload"></i>
      </button>
    </div>

    <!-- <button  (click)="editar.emit()" title="Editar registro" type="button"
      class="btn-custom  btn-custom-info  touch border-2 border- border ">
      <i class="bi bi-pencil-fill"></i>
      
    </button> -->

    <div *ngIf="view_buttons.descartar">
      <button tooltip="Descartar" (click)="descartar.emit()" [ngClass]="access.create || access.update? '':'disabled'"
        type="button" class="btn-custom touch   ">
        <i class="bi bi-arrow-repeat "></i>
      </button>
    </div>

    <div *ngIf="view_buttons.search">
      <button tooltip="Buscar" [ngClass]="access.authorized? '':'disabled'" (click)="search.emit()" type="button"
        class="btn-custom  text-info touch    ">
        <i class="bi bi-search "></i>
      </button>
    </div>

    <div *ngIf="view_buttons.delete">
      <button tooltip="Eliminar" [ngClass]="access.delete? '':'disabled'" type="button" class="btn-custom touch"
        (click)="delete.emit()">
        <i class="bi bi-trash text-danger "></i>

      </button>
    </div>
    <div class="col-auto d-flex align-items-center">
      <div class="vr"></div> <!-- Línea vertical -->
    </div>
    <!-- BOTONES EXTRA -->
    <div *ngIf="extraButtons" class="d-flex">
      <div *ngFor="let button of extraButtons">
        <button [tooltip]="button.description"
          [ngClass]="(button.access!.create || button.access!.update) ? '':'disabled'" type="button"
          [class]="'btn-custom touch ' + button.class" (click)="extraButtonEvent.emit(button)">
          <i [class]="button.icon"></i>
        </button>
      </div>
    </div>
    <!-- <div *ngIf="view_buttons.archivar">
      <button tooltip="Archivar" [ngClass]="access.create || access.update? '':'disabled'" title="Archivar elemento"
        type="button" class="btn-custom  text-warning touch  " (click)="archivar.emit()">
        <i class="bi bi-archive"></i>
      </button>
    </div> -->
  </div>
</div>