<app-menu-general (goToCreate)="refreshModel()" (guardar)=" saveElement()" (search)="search()"
  (archivar)="closeShop()" (descartar)="descartar()" (delete)="delete()" [access]="access"
  [view_buttons]="viewButtons"></app-menu-general>

<app-dynamic-table #table titleModal="Lista de Tiendas" (selectItem)="selectItem($event)" [records]="this.listShops"
  [columns]="columns"></app-dynamic-table>

<div class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Tiendas" description="Proceso de creación de Tiendas">
    <h4 correlative_number class=" fs-6 mt-5 mb-1">TDA-{{shop.id | sequence}}</h4>
    <p *ngIf="shop.id != -1" chip-right
      [ngClass]="shop.status_id == 1 ? ' bg-primary text-primary ':' bg-danger text-danger '"
      class="p-2  fw-medium fs-5 rounded-3" style="--bs-bg-opacity: .3; ">{{shop.estatus
      |uppercase}}</p>
  </app-header-form>

  <section class="main-contend-form">
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="shop.name_shop"
          (ngModelChange)="shop.name_shop = $event.toUpperCase()" appAddPrefix [prefix]="'TDA-'"
          labelInput="Nombre Tienda"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="email" [(ngModel)]="shop.direction" labelInput="Dirección"></app-input-forms>
      </div>
    </div>
  </section>
</div>

<app-loading [loading]="loading"></app-loading>