<app-menu-general [access]="access" [view_buttons]="viewButtons" (descartar)="discard()" (guardar)="saveElement()" ></app-menu-general>


<div class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Sucursales" description="Proceso de asignación  de usuarios a una sucursal">
    <div chip-right>
      <!-- SELECCIONABLE DE SUCURSAL -->
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [disabled]="loadingSelectBranch" (click)="changeBranch(true)"
          [(ngModel)]="typeBranch" value="almacen" name="btnradio" id="btnradio1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio1">Almacenes</label>

        <input type="radio" class="btn-check" (click)="changeBranch(true)" [disabled]="loadingSelectBranch"
          [(ngModel)]="typeBranch" value="tienda" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Tiendas</label>
      </div>
    </div>
    <h4 correlative_number class=" fs-6 mt-5 mb-1">{{sucursal.sucursal_id | sequence}}</h4>
  </app-header-form>

  <section class="main-contend-form">
    <div class="row">
      <div class="col-6">
        <app-input-forms [(ngModel)]="idBranch" (click)="msgSelect()" (ngModelChange)="changeBranch()"
          typeInput="select" [resources]="branch" [loading]="loading" labelInput="Sucursales">
        </app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms [disabled]="true" typeInput="text" [ngModel]="sucursal.direction"
          labelInput="Direction"></app-input-forms>
      </div>
    </div>
  </section>
</div>

<div class="main-contend-card">
  <section class="mx-2">
    <app-header-form header="Usuarios Asignados"
      [description]="'Lista de usuarios asignados ' + sucursal.name"></app-header-form>
    <!-- //listUserBranch -->
    <app-dynamic-table [disabledBtnAdd]="typeBranch == null" [viewBtnDelete]="true"
      (btnDelete)="assignArrayUsersToBranch($event)" [columns]="columns_branch_users" [records]="listUserBranch"
      type_table="table" [viewBtnAdd]="true" (btnAdd)="openModalListNotBranch()"></app-dynamic-table>
  </section>
</div>

<app-loading [loading]="loading"></app-loading>

<app-dynamic-table [selectable_table]="true" #table_users [columns]="columns_branch_not_users"
  [records]="listUserNotBranch" titleModal="Usuarios sin asignar"
  (selectBtnChecks)="assignArrayUsersToBranch($event,true)" (selectItem)="selectItem($event)"></app-dynamic-table>