<app-menu-general [(type_view)]="type_view"></app-menu-general>


<div class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Sucursales" description="Proceso de asignación  de usuarios a una sucursal">
    <div chip-right>
      <!-- SELECCIONABLE DE SUCURSAL -->
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [disabled]="loadingSelectBranch" (click)="changeBranch(true)"
          [(ngModel)]="typeBranch" value="almacen" name="btnradio" id="btnradio1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio1">Almacenes</label>

        <input type="radio" class="btn-check" (click)="changeBranch(true)" [disabled]="loadingSelectBranch"
          [(ngModel)]="typeBranch" value="tienda" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Tiendas</label>
      </div>
    </div>
    <h4 correlative_number class=" fs-6 mt-5 mb-1">{{87 | sequence}}</h4>
  </app-header-form>

  <section class="main-contend-form">
    <div class="row">
      <div class="col-6">
        <app-input-forms [(ngModel)]="idBranch" (click)="msgSelect()" (ngModelChange)="changeBranch()"
          typeInput="select" [resources]="branch" [loading]="loading" labelInput="Sucursales">
        </app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms [disabled]="true" typeInput="text" labelInput="Direction"></app-input-forms>
      </div>
    </div>
    {{idBranch}}
    {{typeBranch}}
    <div class="row">
      <div class="col-8">
        <app-input-forms [disabled]="true" typeInput="text" labelInput="Encargado"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms [disabled]="true" typeInput="text" labelInput="Cargo"></app-input-forms>
      </div>
    </div>

     
  </section>
</div>

<div class="main-contend-card">
  <app-header-form header="Usuarios Asignados" [description]="'Lista de usuarios asignados '  ">
    <button chip-right class="btn text-white bg-info">+</button>
  </app-header-form>

  <div class="d-flex flex-wrap  gap-4">

    <div class="card user-card" *ngFor="let user of listUserBranch">
      <div class="card-body d-flex align-items-center" style="padding: 8px  15px;">
        <!-- Icono de usuario -->
        <i class="bi bi-person-circle bi-custom user-card-icon"></i>
        <div>
          <h5 class="card-title user-card-title">{{user.fulL_name}}</h5>

          <p *ngIf="user.rol_id == 3 ||user.rol_id == 4 " class="card-text user-card-email">{{user.cargo}} </p>
          <p *ngIf="user.rol_id == 5 " class="card-text user-card-email">{{user.email}} </p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="main-contend-card p-3">
  <app-dynamic-table #table [records]="listUserNotBranch" [columns]="columns" type_table="table"
    titleModal="Lista de usuarios"></app-dynamic-table>
</div> -->
<app-loading [loading]="loading"></app-loading>