<div class="d-flex justify-content-start align-items-center gap-1">
  <button type="button" class="btn  btn-success" data-bs-placement="bottom" title="Crear registro">
    <i class="bi bi-cloud-download"></i>
  </button>

  <button data-bs-placement="bottom" title="Editar registro" type="button" class="btn  btn-info">
    <i class="bi bi-pencil-fill"></i>
  </button>

  <button data-bs-placement="bottom" title="Buscar registros" type="button" class="btn  btn-info">
    <i class="bi bi-search"></i>
  </button>

  <button data-bs-placement="bottom" title="Eliminar elemento" type="button" class="btn  btn-danger">
    <i class="bi bi-trash-fill"></i>
  </button>

  <button data-bs-placement="bottom" title="Archivar elemento" type="button" class="btn  btn-warning">
    <i class="bi bi-archive-fill"></i>
  </button>


</div>