<div class="modal fade" id="exampleModalDynamic" [attr.data-bs-backdrop]="backdropStatic?'static':'modal'" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " [ngStyle]="{'max-width': modalSize}">
    <div class="modal-content">

      <div class="d-flex justify-content-between  p-3 m-0">
        <h1 class="modal-title fs-6 " id="exampleModalLabel">{{ title }}</h1>
        <button *ngIf="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <ng-content select="[modal-body]"></ng-content>
      </div>

      <div class="modal-footer p-2">
        <button *ngIf="viewDiscardBtn" type="button" (click)="rejectBtn.emit()" class="btn btn-secondary"
          data-bs-dismiss="modal">{{discardBtnLabel}}</button>
        <button type="button" (click)="acceptBtn.emit()" class="btn btn-primary">{{confirmBtnLabel}}</button>
      </div>
    </div>
  </div>
</div>