<app-menu-general (goToCreate)="refreshModel()" [view_buttons]="viewButtons"
  (search)="table_monedas.openAndCloseModal()" [access]="access" (guardar)="saveCurrency()" (descartar)="descartar()"
  (delete)="deleteCurrency()"></app-menu-general>
<!-- tabla de monedas -->
<app-dynamic-table #table_monedas [records]="list_monedas" [columns]="columns_monedas"
  (selectItem)="selectMoneda($event)" titleModal="Monedas"></app-dynamic-table>

<section class="main-contend-card">
  <app-header-form header="Monedas" description="Configuración de monedas segundarías después del Bolivar">
    <h4 correlative_number class=" fs-6 fw-normal mt-5 mb-1">#{{moneda.id|sequence }}</h4>
  </app-header-form>

  <!-- FOMULARIO DE MONEDA -->
  <section class="main-contend-form">
    <div class="row align-items-center">
      <div class="col-4">
        <app-input-forms [disabled]="disabled" [(ngModel)]="moneda.name" typeInput="text"
          labelInput="Nombre Moneda"></app-input-forms>
      </div>
      <div class="col-2">
        <app-input-forms [disabled]="disabled" typeInput="text" textUppercase [(ngModel)]="moneda.iso"
          labelInput="Iso"></app-input-forms>
      </div>
      <div class="col-2">
        <app-input-forms [disabled]="disabled" typeInput="text" textUppercase [(ngModel)]="moneda.symbol"
          labelInput="Símbolo"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms [disabled]="disabled" typeInput="checkbox" [(ngModel)]="moneda.default"
          labelInput="Usar moneda"></app-input-forms>
      </div>
    </div>
  </section>

  <!-- TABLA DE TASAS -->
  <app-dynamic-table [disabledBtnAdd]="disabled" [viewBtnAdd]="true" (btnAdd)="addTasa()"
    (selectItem)="selectTasa($event)" class="my-2" [records]="moneda.tasas" [type_table]="'table'"
    [titleModal]="'Ultimas Tasas'" [columns]="columns_tasas">
  </app-dynamic-table>

  <!-- MODAL PARA EDITAR TASAS -->
  <app-dynamic-modal (acceptBtn)="aceptarModal()" #dynamic_modal [backdropStatic]="true" title="Editar Tasas">
    <app-tasas modal-body [tasa]="tasa"></app-tasas>
  </app-dynamic-modal>
</section>
<app-loading [loading]="loading"></app-loading>