<div class="d-flex justify-content-center align-items-center"
  style="height: 100vh; background-color: rgb(237, 237, 237);">
  <div class="rounded-3 shadow-sm container p-5" style="width: 50%; background-color: rgb(255, 255, 255);">
    <!-- <img class="mb-4 mx-auto" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h2 mt-3 mb-5 fw-normal text-center">Iniciar Sesión</h1>

    <div class="row d-flex mb-4" style="gap: 40px;">
      <div class="col-12">
        <app-input-forms typeInput="text" [(ngModel)]="usuario.username" labelInput="Usuario"></app-input-forms>
      </div>
      <div class="col-12">
        <app-input-forms typeInput="password" [(ngModel)]="usuario.password" labelInput="Contraseña"></app-input-forms>
      </div>
      <div class="col-12">
        <app-input-forms typeInput="checkbox" [(ngModel)]="recordarPassword"
          labelInput="Recordar Contraseña"></app-input-forms>
      </div>
    </div>

    <div class="text-start mb-3">
      <button class="btn btn-primary text-white w-100 py-2" [disabled]="loading" (click)="callServiceAutenticarLogin()"
        type="submit">Entrar</button>
    </div>
  </div>