<div (keydown.enter)="callServiceAutenticarLogin()"
  class="background-login d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="bg-white p-5 rounded-3 shadow-sm" style="max-width: 400px;">
    <h1 class="h3 mb-5 text-center fw-medium">Iniciar Sesión</h1>
    <div class="row  " style="gap: 40px;">
      <div class="col-12">
        <app-input-forms typeInput="text" [(ngModel)]="usuario.username" labelInput="Usuario"></app-input-forms>
      </div>
      <div class="col-12">
        <app-input-forms typeInput="password" [(ngModel)]="usuario.password" labelInput="Contraseña"></app-input-forms>
      </div>
    </div>
    <div class="row g-2 mt-4 ">
      <div class="col-12">
        <app-input-forms typeInput="checkbox" [(ngModel)]="recordarPassword"
          labelInput="Recordar Contraseña"></app-input-forms>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit" (click)="callServiceAutenticarLogin()" [disabled]="loading">
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>