<div [ngSwitch]="typeInput">

  <!--//*---------------------------------------- CAMPO DE TEXTO -->
  <div *ngSwitchCase="'text'">
    <div class="custom-input-container">
      <input [value]="value" [ngClass]="disabled? 'disabled':''" (input)="onInputChange($event)" [disabled]="disabled"
        type="text" class="custom-input" placeholder="">

      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO EMAIL -->
  <div *ngSwitchCase="'email'">
    <div class="custom-input-container">
      <input [ngClass]="disabled? 'disabled':''" [value]="value" (input)="onInputChange($event)" [disabled]="disabled"
        type="email" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO CONTRASENA -->
  <div *ngSwitchCase="'password'">
    <div class="custom-input-container">
      <input [ngClass]="disabled? 'disabled':''" [value]="value" (input)="onInputChange($event)" [disabled]="disabled"
        type="password" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO NUMERICO -->
  <div *ngSwitchCase="'number'">
    <div class="custom-input-container">
      <input [ngClass]="disabled? 'disabled':''" [value]="value" (input)="onInputChange($event)" [disabled]="disabled"
        type="number" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO DE BUSQUEDA -->
  <div *ngSwitchCase="'search'">
    <div class="custom-input-container">
      <input [ngClass]="disabled? 'disabled':''" [value]="value" (input)="onInputChange($event)" [disabled]="disabled"
        type="search" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO DE FECHA -->
  <div *ngSwitchCase="'date'">
    <div class="custom-input-container">
      <input [ngClass]="disabled? 'disabled':''" [value]="value" (input)="onInputChange($event)" [disabled]="disabled"
        type="date" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO CHECKBOX -->
  <div *ngSwitchCase="'checkbox'">
    <label style="user-select: none;" class="checkbox-container  m-0">{{labelInput}}
      <input [ngClass]="disabled? 'disabled':''" [value]="value" [checked]="value" (change)="onCheckboxChange($event)"
        [disabled]="disabled" type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>

  <!--//*---------------------------------------- CAMPO SELECT -->
  <div *ngSwitchCase="'select'">
    <!-- !SE DEBE MEJORAR EL DROIPDOWN PARA EL FILTRADO -->
    <div class="d-flex gap-2 justify-content-between">
      <div class="custom-input-container" (click)="touchedSelectEvent.emit()">
        <select [ngClass]="disabled? 'disabled':''" [disabled]="disabled" aria-readonly="true"
          (change)="onInputChange($event)" class="custom-input" style="width: 100%;" id="select">
          <option style="padding: 20px;" *ngFor="let item of resources" [selected]=" item.id == value"
            [value]="item.id ">
            {{item.name}}</option>
        </select>
        <label class="custom-input-label">{{labelInput}}
          <!-- spinner -->
          <ng-container *ngTemplateOutlet="questionIconTpl; context: { question: question_button }"></ng-container>
          <span *ngIf="loading" class="ms-2 spinner-border spinner-border-sm" aria-hidden="true"></span>
        </label>
      </div>
      <button *ngIf="selectInNull" (click)="selectInNullEvent.emit(true)"
        class="btn text-white bg-primary bi bi-x-lg fw-bolder fs-4"></button>
    </div>
  </div>

  <!--//*---------------------------------------- CAMPO COLOR -->
  <div *ngSwitchCase="'color'">
    <div class="custom-input-container ">
      <input [ngClass]="disabled? 'disabled':''" style=" height: 45px;" [value]="value" (input)="onInputChange($event)"
        [disabled]="disabled" type="color" class="custom-input" placeholder="">
      <label class="custom-input-label">{{labelInput}}</label>
    </div>
  </div>
</div>

<!-- ICONO DE PREGNTA TEMPLATE -->
<ng-template #questionIconTpl let-question="question">
  <i *ngIf="question.trim()" [tooltipQuestion]="true" [tooltip]="question"
    class="bi bi-question-circle-fill ms-2 fs-4 text-info"></i>
</ng-template>