@import '../../../assets/scss/variable';

/* Estilos para el input de texto */
.custom-input-container {
    position: relative;
    width: 100%;
    /* Ajusta el ancho según sea necesario */
}

.custom-input {
    width: 100%;

    padding: 10px;
    border: 1px solid #ccc;
    /* Ajusta el color y grosor del borde según sea necesario */
    border-radius: 7px;
    /* Ajusta el radio del borde según sea necesario */
    font-size: 16px;

    color: var(--text-secondary);
}

.custom-input-label {
    position: absolute;
    top: 50%;
    left: 15px;
    /* Ajusta la posición horizontal del texto */
    transform: translateY(-50%);
    background-color: #b6646400;
    padding: 0 5px;
    /* Ajusta el relleno del texto según sea necesario */
    font-size: 16px;
    /* Ajusta el tamaño de la fuente del texto según sea necesario */
    color: #666;
    /* Ajusta el color del texto según sea necesario */
    transition: all 0.3s ease;
    /* Transición suave para los cambios */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos cuando el input está enfocado o tiene contenido */
.custom-input:focus+.custom-input-label,
.custom-input:not(:placeholder-shown)+.custom-input-label {
   font-family: Arial, Helvetica, sans-serif;
    //text-transform: uppercase;

    /* Posición del texto cuando el input está enfocado o tiene contenido */
    left: 0px;
    top: -11px;

    /* Tamaño del texto cuando el input está enfocado o tiene contenido */
    font-size: 12px;

    /* Color del texto cuando el input está enfocado o tiene contenido */
    color: $primary;
}

/* Estilos cuando el input está enfocado */
.custom-input:focus {
    border-width: 0.5px;
    /* Grosor del borde cuando el input está enfocado */
    border-color: $primary;
    /* Color del borde cuando el input está enfocado */
}

/* Estilos para el checkbox */
/* Ocultar el checkbox nativo */
input[type="checkbox"] {
    display: none;
}

/* Estilo del contenedor del checkbox personalizado */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilo del checkbox personalizado */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo del tick (marca) dentro del checkbox personalizado */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Muestra el tick cuando el checkbox está marcado */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Estilo del tick */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Estilo cuando el input está deshabilitado */
.disabled {
    background-color: rgba(221, 221, 221, 0.559);
}