<app-menu-general></app-menu-general>

<div class="card flex flex-column rounded-3 shadow-sm container">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Usuarios" description="Proceso de creación de usuarios y asignación de permisos">
  </app-header-form>

  <!-- FORMULARIO -->
  <section class="d-flex flex-column mt-4" style="gap:37px;">
    <div class="row">
      <div class="col-3">
        <app-input-forms typeInput="text" labelInput="Nombre"></app-input-forms>
      </div>
      <div class="col-3">
        <app-input-forms typeInput="email" labelInput="Email"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="number" labelInput="Cédula"></app-input-forms>
      </div>
    </div>
    <!-- FILA 2 -->
    <div class="row">
      <div class="col-5">
        <app-input-forms typeInput="text" labelInput="Dirección"></app-input-forms>
      </div>
    </div>

    <!-- FILA 3 -->
    <div class="row">
      <div class="col-4">
        <app-input-forms typeInput="text" labelInput="usuario"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="text" labelInput="Contraseña"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="select" [resources]="rolesUser" labelInput="rol"></app-input-forms>
      </div>
    </div>
  </section>