
<app-menu-general (guardar)="saveElement()"></app-menu-general>

<div class="card flex flex-column rounded-3 shadow-sm container">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Usuarios" description="Proceso de creación de usuarios y asignación de permisos">
  </app-header-form>

  <!-- FORMULARIO -->
  <section class="d-flex flex-column my-4" style="gap:37px;">
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="user.full_name" labelInput="Nombre completo"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="email" [(ngModel)]="user.email" labelInput="Email"></app-input-forms>
      </div>
    </div>
    <!-- FILA 2 -->
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="user.direction" labelInput="Dirección"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="number" [(ngModel)]="user.ci" labelInput="Cédula"></app-input-forms>
      </div>
    </div>

    <!-- FILA 3 -->
    <div class="row">
      <div class="col-4">
        <app-input-forms typeInput="text" [(ngModel)]="user.username" labelInput="usuario"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="text" [(ngModel)]="user.password" labelInput="Contraseña"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="select" [resources]="rolesUser"  [(ngModel)]="user.rol" labelInput="rol"></app-input-forms>
      </div>
    </div>
    
  </section>