<app-menu-general (search)="searchUser()" (guardar)="saveElement()"></app-menu-general>
<app-dynamic-table #table [columns]="columns" [records]="listUsers" titleModal="Lista de Usuarios"></app-dynamic-table>

<div class="card flex flex-column rounded-3 shadow-sm container">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Usuarios" description="Proceso de creación de usuarios y asignación de permisos">
  </app-header-form>

  <!-- FORMULARIO -->
  <section class="d-flex flex-column my-4" style="gap:37px;">
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.name_user"
          labelInput="Nombre completo"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="email" [(ngModel)]="userForm.email" labelInput="Email"></app-input-forms>
      </div>
    </div>
    <!-- FILA 2 -->
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.direction" labelInput="Dirección"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="number" [(ngModel)]="userForm.ci" labelInput="Cédula"></app-input-forms>
      </div>
    </div>

    <!-- FILA 2 -->
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="checkbox" [(ngModel)]="userForm.ci_as_username" (change)="changeUsername()"
          labelInput="Cédula como usuario"></app-input-forms>
      </div>
    </div>

    <!-- FILA 3 -->
    <div class="row">
      <div class="col-4">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.username" labelInput="usuario"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.password" labelInput="Contraseña"></app-input-forms>
      </div>
      <div class="col-4">
        <app-input-forms typeInput="select" [resources]="listRoles" [(ngModel)]="userForm.rol"
          labelInput="rol"></app-input-forms>
      </div>
    </div>

  </section>
  <app-loading [loading]="loading"></app-loading>