@import '../../../assets/scss/variable';
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
/* Personalización de la barra de desplazamiento */
#sidebar::-webkit-scrollbar {
  width: 2px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
  /* Color del botón de desplazamiento */
}

#sidebar::-webkit-scrollbar-track {
  background-color: $skin5;
  /* Color de la pista de desplazamiento */
}