@import './assets/scss/variable';
@import './assets/scss/style';

/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}

//efecto touch
.touch {
  transition: transform 0.1s ease;
}

.touch:active {
  transform: scale(1.1);
}

//efecto touch mas grande 
.touchx2 {
  transition: transform 0.1s ease;
}

.touchx2:active {
  transform: scale(1.5);
}

.main-contend-card {
  @extend .card !optional;
  @extend .flex !optional;
  @extend .flex-column !optional;
  @extend .rounded-3 !optional;
  @extend .shadow !optional;
  @extend .container !optional;
}

.main-contend-form{
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .my-4 !optional;
  @extend .p-2 !optional;
  gap:37px;
}