<app-menu-general [access]="access" (guardar)="saveProduct()" (goToCreate)="refreshModel()"
  [view_buttons]="viewButtons"></app-menu-general>


<section class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Productos" description="Creacion de productos">
    <h4 correlative_number class=" fs-6 fw-normal mt-3 mb-2">#{{product.id_product|sequence:4 }}</h4>
  </app-header-form>

  <section class="main-contend-form">
    <!-- Cabecera  -->
    <div class="row ">
      <img src="../../../../../assets/images/product-img.png" alt="img-product" class=" img-product">
      <div class="col d-flex flex-column justify-content-between">

        <!-- Formulario cabecera fila 1  -->
        <div class="row">
          <div class="col-4">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.name_product" typeInput="text"
              labelInput="Nombre del producto"></app-input-forms>
          </div>

          <div class="col-4">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.type_product" typeInput="select"
              [resources]="type_product_list" labelInput="Tipo producto"
              [question_button]="'Define si es un solo producto o un producto de varias unidades'"
              [loading]="loading"></app-input-forms>
          </div>
          <div class="col-4">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.product_class" typeInput="select"
              [resources]="product_classification_list" labelInput="Clasificación del producto" [loading]="loading"
              [question_button]="'Clasifica el producto y determina si se puede vender o si es para producción'"></app-input-forms>
          </div>

        </div>

        <!-- Formulario cabecera fila 2    -->
        <div class="row ">
          <div class="col-6">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.id" typeInput="select"
              labelInput="Lista de precios" [resources]="priceListArray" [loading]="loading"></app-input-forms>
          </div>
          <div class="col-6">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.category_id" typeInput="select"
              [resources]="categoryList" labelInput="Categoria" [loading]="loading"></app-input-forms>
          </div>
        </div>

        <!-- Formulario cabecera fila 3  -->
        <div class="row ">
          <div class="col-4">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.reference" typeInput="text"
              labelInput="Referencia"></app-input-forms>
          </div>
          <div class="col-3">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.sku" typeInput="text"
              labelInput="Sku"></app-input-forms>
          </div>
          <div class="col-1">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.color" typeInput="color"
              labelInput="Color"></app-input-forms>
          </div>
          <div class="col-4">
            <app-input-forms [disabled]="disabled" [(ngModel)]="product.product_model_key" typeInput="select"
              [resources]="simple_product_model_list" (ngModelChange)="changeModelProduct($event)"
              labelInput="Modelo de producto" [loading]="loading"
              [question_button]="'Define las propiedades personalizadas de cada producto'"></app-input-forms>
          </div>
        </div>
      </div>
      <!-- body -->
      <div class="row mt-5 mb-4">
        <div class="col">
          <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.price_list_details[0].price"
            typeInput="number" labelInput="Precio"></app-input-forms>
        </div>
        <div class="col">
          <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.price_list_details[0].net_price"
            typeInput="number" labelInput="Precio neto"></app-input-forms>
        </div>
        <div class="col">
          <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.price_list_details[0].iva"
            typeInput="text" labelInput="iva"></app-input-forms>
        </div>
        <div class="col">
          <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.price_list_details[0].discount"
            typeInput="number" labelInput="Descuento"></app-input-forms>
        </div>
        <div class="col">
          <app-input-forms [disabled]="disabled" [(ngModel)]="product.price_list.price_list_details[0].active_discount"
            typeInput="checkbox" labelInput="Activar descuento"></app-input-forms>
        </div>
      </div>

      <div class="row ">
        <div *ngFor="let atributo of list_properties" class="col">
          <app-input-forms [disabled]="this.disabled" [typeInput]="atributo.type_input"
            [labelInput]="atributo.name_attributes" [(ngModel)]="atributo.value" [tooltip]="atributo.description"
            [resources]="atributo.data? atributo.data : [] "></app-input-forms>
        </div>
      </div>
    </div>
  </section>
</section>
<app-loading [loading]="loading"></app-loading>