<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titleModal}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        <div class="card">
          <div class="card-body p-0">
            <!-- puede ir el search -->
            <div class="table-responsive m-0">
              <table class="table table-hover align-middle text-nowrap table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let column of columns" class="text-dark font-medium fs-4">{{column.label}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of records">
                    <td *ngFor="let column of columns">{{item[column.key]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- BOONES -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>