<app-menu-general [view_buttons]="viewButtons" [access]="access" (descartar)="descartar()" (delete)="deleteUser()"
  (archivar)="archiveUser()" (search)="searchUser()" (guardar)="saveElement()"></app-menu-general>

<!-- TABLA MODAL -->
<app-dynamic-table #table [columns]="columns" (selectItem)="selectItem($event)" [records]="listUsers"
  titleModal="Lista de Usuarios"></app-dynamic-table>

<div class="main-contend-card">
  <!-- HEADER DEL FORMULARIO -->
  <app-header-form header="Usuarios" description="Proceso de creación de usuarios y asignación de permisos">
  </app-header-form>

  <!-- FORMULARIO -->
  <section class="main-contend-form">
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.name_user"
          labelInput="Nombre completo"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="email" [(ngModel)]="userForm.email" labelInput="Email"></app-input-forms>
      </div>
    </div>
    <!-- FILA 2 -->
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.direction" labelInput="Dirección"></app-input-forms>
      </div>
      <div class="col-6">
        <app-input-forms typeInput="number" [(ngModel)]="userForm.ci" labelInput="Cédula"></app-input-forms>
      </div>
    </div>

    <!-- FILA 2 -->
    <div class="row">
      <div class="col-6">
        <app-input-forms typeInput="checkbox" [(ngModel)]="userForm.ci_as_username" (change)="changeUsername()"
          labelInput="Cédula como usuario"></app-input-forms>
      </div>
    </div>

    <!-- FILA 3 -->
    <div class="row">
      <div class="col-3">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.username" labelInput="usuario"></app-input-forms>
      </div>
      <div class="col-3">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.password" labelInput="Contraseña"></app-input-forms>
      </div>

      <div class="col-3">
        <app-input-forms typeInput="text" [(ngModel)]="userForm.repeat_password"
          labelInput="Confirmar Contraseña"></app-input-forms>
      </div>

      <div class="col-3">
        <app-input-forms typeInput="select" [resources]="listRoles" [(ngModel)]="userForm.rol"
          labelInput="Cargos"></app-input-forms>
      </div>
    </div>

  </section>
  <app-loading [loading]="loading"></app-loading>